
{% extends "layout.html" %}	

{% block title %}Home{% endblock %}	

{% block content %}	


  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}

        {% if category == "message" %}
          {% set cls = "alert alert-success alert-dismissable" %}

        {% elif category == "error" %}

          {% set cls = "alert alert-danger alert-dismissable" %}
        {% endif %}


        <div class= "{{ cls }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <h1>Home</h1>	
  <ul>	
    <li><a href="/page1">That thing we do</a></li>	
    <li><a href="/page2">The other thing</a></li>	
  </ul>	

<p>This is a sample application to demonstrate authenticating against github oauth,	
using Flask, on Heroku.</p>	

{% endblock %}
